$background: rgb(100, 100, 100);
$navbar: rgb(175, 175, 175);
$emphasis: rgb(36, 36, 36);
$white: rgba(255, 255, 255, 0.904);

$primary: rgb(0, 255, 255);
$secondary: rgb(90, 255, 90);
$warning: rgb(255, 200, 210);