@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

// Navigation Icon & Arrow

.navicon {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $emphasis;
    padding: 3rem;
}

.downicon {
    position: absolute;
    margin-top: 2rem;
    left: 50%;
    color: $emphasis;
    &:hover, &:active {
        color: $primary;
    }
}

// Nav and Arrow fixing

.top-left-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}