@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

// Navigation Icon & Arrow

.navicon {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $emphasis;
    padding: 3rem;
}

.downicon {
    margin-bottom: 2rem;
    margin-right: 2rem;
    color: $emphasis;
    &:hover, &:active {
        animation: downicon 2s;
        animation-iteration-count: 5s;
    }

    @keyframes downicon {
        // Rotation
        10% { transform: translate(0rem, 0rem) rotate(-15deg); }
        20% { transform: translate(0rem, 0rem) rotate(0deg); }
        30% { transform: translate(0rem, 0rem) rotate(-15deg); }
        40% { transform: translate(0rem, 0rem) rotate(0deg); }
    }
}

// Nav and Arrow fixing

.top-left-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.bottom-right-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}