.slant-wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 10rem;
    grid-gap: 0;
    overflow: hidden;
}
.slant-up-secondary {
    grid-column: col-start / -1;
    grid-row: 1;
    background: linear-gradient(rgba(0,0,0,0), $secondary);
}
.slant-down-secondary {
    grid-column: col-start / -1;
    grid-row: 1;
    background: linear-gradient($secondary, rgba(0,0,0,0));
}